%h1 Listing brains

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @brains.each do |brain|
    %tr
      %td= brain.name
      %td= link_to 'Show', brain
      %td= link_to 'Edit', edit_brain_path(brain)
      %td= link_to 'Destroy', brain, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Brain', new_brain_path
